body {
  background-image: url(ef47f4c663869a49bdb6c70155e055a3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
div.logo {
  float: left;
}
td{
  border: 1px solid black;
}
td a {
  display: block;
  width: 100%;
  padding: 10px;
}

h1 {
  text-align: center;
}
div.logo {
  position: absolute;
  top: 10px;
  left: 150px;
}
nav {
  float: none;
  position: absolute;
  top: 70%;
  left: 43%;
}
iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
div.content {
  display: block;
  background-color: rgba(255, 255, 230, 0.35);;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px;
  z-index: 0;
}
div.sticky {
  border: 1px solid black;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: rgba(77, 148, 255, 1);
  padding: 50px;
}
iframe {
  border: 1px solid black;
}
#odd {
  display: block;
  float: right;
  width: 300px;
  height: auto;
  padding: right 10px;
}
img {
  border: 1px solid black;
}
